.tower-buy-button {
		-fx-background-color: Transparent;
}

.tower-border {
    -fx-background-color: Transparent; -fx-border-color: grey; -fx-border-radius: 8;
}

.bottom-top-border {
    -fx-background-color: #6B4E31; -fx-border-color: black transparent transparent transparent; -fx-border-width: 2; 
}

.top-bottom-border {
    -fx-background-color: grey; -fx-border-color:  transparent transparent black transparent; -fx-border-width: 2; 
}

.coin-field{
  -fx-font-size: 40px; -fx-text-fill: darkred; -fx-font-weight: bold; -fx-background-color: white; -fx-padding: 10 30 10 30; -fx-background-radius: 5;-fx-pref-width: 200px; -fx-pref-height: 80px; 
}

.half-sized{
  -fx-font-size: 12px; -fx-text-fill: darkred; -fx-font-weight: bold; -fx-background-color: white; -fx-padding: 6 30 6 30; -fx-background-radius: 5; -fx-alignment: center-left; -fx-pref-width: 120px; -fx-pref-height: 35px;
}

.bottom-menu-buttons{
    -fx-font-size: 14px; -fx-font-weight: bold; -fx-text-fill: darkred; -fx-align: center; -fx-text-alignment: center; 
}

.start-game-button{
    -fx-background-color: #800080; -fx-border-radius: 6; -fx-text-fill: white; -fx-font-size: 24px; -fx-text-alignment: center; -fx-background-radius: 5; -fx-text-alignment: center;
}
